.login-container{
    width:100%;
    height:100vh;
    background-color:lightgreen;
}
.loginform{
    background-color:greenyellow;
    width:50%;
    padding:10px 10px;
    margin:auto auto;
}
form {
    margin: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }